[submodule "submodules/surfacer"]
	path = submodules/surfacer
	url = https://github.com/SnoringCatGames/surfacer2
[submodule "submodules/scaffolder"]
	path = submodules/scaffolder
	url = https://github.com/SnoringCatGames/scaffolder2
[submodule "submodules/snore_core"]
	path = submodules/snore_core
	url = https://github.com/SnoringCatGames/snore_core
[submodule "submodules/godot-cpp"]
	path = submodules/godot-cpp
	url = https://github.com/godotengine/godot-cpp
[submodule "submodules/godot"]
	path = submodules/godot
	url = https://github.com/godotengine/godot
[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest.git
