[submodule "surfacer"]
	path = submodules/surfacer
	url = https://github.com/SnoringCatGames/surfacer2
[submodule "scaffolder"]
	path = submodules/scaffolder
	url = https://github.com/SnoringCatGames/scaffolder2
[submodule "snore_core"]
	path = submodules/snore_core
	url = https://github.com/SnoringCatGames/snore_core
[submodule "godot-cpp"]
	path = submodules/godot-cpp
	url = https://github.com/godotengine/godot-cpp
[submodule "godot"]
	path = submodules/godot
	url = https://github.com/godotengine/godot
[submodule "googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest.git
